# Source files
src/
test/

# Coverage reports
coverage/

# Config files
jest.config.js
tsconfig.json
.editorconfig
.orettierrc
eslint.config.js
tsconfig.json

# Github Actions
.github/workflows/

# Dependencies
node_modules/
